/* Fichier css externe valable pour le fichier etechnoserv.pl */
html {
/*   background-color:aqua;*/
}
body {
   /*background-color: maroon;*/
   border: 5px olive solid;
   margin : 5px;
   padding: 2px;
}
div#corps {
  position: relative;
  width: 1017px;
  height: 1200px;
/*  border: 6px red solid; */
}
div#entete {
  background-color: silver;
/*  border: 2px blue solid; */
  float : left;
  width: 100%;
  z-index: 2;
}
div#images {
  background-color: maroon;
/*  border: 2px black solid; */
  margin: 4px;
  width: 60%;
  float : left;

}
div#connexion {
 float : left;
/* border: 3px lime groove; */
 width: 37%;
}

img#logo {
  float: left;
  background-color: yellow;
/*  border: 1px cyan solid; */
}
img#slogan {
  float: left;
  background-color: red;
/*  border: 1px orange solid; */
}
div#gauche {
  float : left;
  width: 130px;
  height: 200px;
/*  border: 4px green solid; */
  z-index: 10;
}
div#droite {
  float : left;
/*  border: 5px black solid; */
  width: 860px;
  height: 950px;
/*  overflow : scroll; */
  background-image :url(../images/fond_ecran_rond.png);
  background-repeat : no-repeat;
  z-index: 0;
}

div#droite object {
  width: 840px;
  height: 615px;
  background-color: transparent;
  z-index: auto;

}


div#basdepage {
  background-color: white;
/*  border: 2px blue solid; */
  position: absolute;
  left: 0;
  bottom : 0;
  width: 100%;
}
div#basdepage span {
	font-family : verdana, arial;
	font-size : 10px;
	text-decoration : none;
/*	color : #a8a8a8; */
	color : blue;
	vertical-align : 84px;
}

/* Style pour le menu de gauche */

#menu p {
  display: none;
}
#menu {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 0.7em;f
  font-weight: bold;
  width: 130px;
  border-right: 1px solid #666;
  padding: 0;
  margin-bottom: 1em;
  color: #333;
  z-index: 15;
}
#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 130px;
}

#menu li {
  margin: 0;
  border-top: 1px solid #003;
  width: 130px;
}
#menu li ul{
  display: none;
  position : absolute;
  margin: -19px 0 0 130px;
}

#menu ul li a {
  display: block;
  padding: 2px 2px 2px 0.5em;
  border-left: 10px solid #369;
  border-right: 1px solid #69c;
  border-bottom: 1px solid #369;
  background-color: #036;
  color: #fff;
  text-decoration: none;
  width: 100%;
  z-index: 15;
}
html>body #menu ul li a {
  width: auto;
}

#menu ul li a:hover {
  border-left: 10px solid #036;
  border-right: 1px solid #69c;
  border-bottom: 1px solid #369;
  background-color: #036;
  color: #fff;
}

#gauche #menu #menu_object {
  z-index : 20;
}

#droite form {
  margin-top : 5%;
  margin-left : 2%;
/*  overflow : scroll;*/
}

#connexion div {
  font-size: 0.7em;
  font-weight: bolder;
}

#connexion div em {
  color: red;
  margin-left : 10px;
}

#admin  {
  float : right;
/*  padding-right : 100px;*/
  margin-right : 80px;

}

#connexion #admin  {
  font-size : 1.4em;
  font-weight : normal;
  background : #92D2E9;
  padding-left : 7px;
  padding-right : 7px;
}

#affiche_donnees_sociales {
  border: 1px green solid;
}

form > #affiche_donnees_sociales {
  height: 258px;
}


#infos_generales {
  border: 1px orange solid;
}

#col_gauche {
 float : left;
  width : 30%;
  border: 2px blue solid;
  text-align: right;
}
#col_droite {
/*  float: left;*/
/*  width: 20%; */
  border: 2px red solid;
}

#affiche_conges_payes {
  border: 1px maroon solid;
  width: 45%;
  float: left;
}

#affiche_rtt {
  border: 1px teal solid;
  width: 50%;   /*Modifié le 21/06 */
  float : left; /*Ajouté le 21/06 */
}

.Titre {
  width: 100%;
  border : 3px black solid;
  text-align: center;
  font-weight: bold;
  color: orange;
}
.Libelle {
  float: left;
  border: 2px blue solid;
  width : 40%;
  font-weight: bold;
}
.Acquis {
  float: left;
  border: 2px orange solid;
  width: 15%;
}
.Pris {
  float: left;
  border : 2px yellow solid;
  width : 15%;
}
.A_prendre {
  border : 2px cyan solid;
  float : left; /*A jouter le 21/06 */
/* width: 25%; */
}

.L1 {
  font-weight: bold;
}
/************* CSS pour pour le menu Menu_gestion_compte *********************/
#Menu_gestion_compte ul {
  margin-left: 0;
  padding: 3px 0;
  border-bottom: 1px solid #778;
  font: bold 12px Verdana, sans-serif;
}
#Menu_gestion_compte ul li {
  list-style-type: none;
  padding-right: 5px;
  display: inline;
}
#Menu_gestion_compte ul li a {
  padding: 3px 0.5em;
  margin-left: 3px;
  border: 1px solid #778;
  border-bottom: none;
  background: #DDE;
/*  display: block;*/
  text-decoration: none;
}
#Menu_gestion_compte ul li a:link {
  color: #448;
}
#Menu_gestion_compte ul li a:visited {
  color: #667;
}
#Menu_gestion_compte ul li a:link:hover,
#Menu_gestion_compte ul li a:visited:hover {
  color: #000;
  background: #AAE;
  border-color: #227;
}
#Menu_gestion_compte ul li#active {
/*  background-color: white;*/
/*    border: 1px solid white; */
}
#Menu_gestion_compte ul li a#courant {
  background-color: white;
  border-bottom: 1px solid white;
}
#Identification, #Communication, #Missions, #Mot_de_passe {
/*  border: 2px solid blue;*/
}

.menu_enregistrer{
  margin-top : 1em;
  margin-left : 2em;
  clear : left; /* Ajuter le 21/06/06 */
}
.infos {
  width: 60%;
  float: left;
}
.Ligne2col {
  width : 100%;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
/*  padding-left: 2px; */
}
.Ligne2col1 {
  float : left;
  font-weight: bold;
  width: 40%;
}
#derniere_ligne {
  border-bottom: 1px solid black;
  float: left;
}
.msg_info {
  width : 35%;
  float : left;
/*  border : 1px solid green; */
  padding-left: 5px;
  color : red;
  font-size: 1em;
}

/*****************************************************************************/
#ra_ecran_mensuel {
  width: 100%;
  height:  9em;
/*  border: 2px solid orange;*/
 margin-top : 2em;
}
.ra_titre_ecran_mensuel {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  color: blue;
}
.ra_ligne3col {
  width: 100%;
  height: 1.2em;
  margin-bottom: 0;
}
.ra_ligne3col a {
  text-decoration :none;
  margin : 3px;
  padding : 2px;
}
.ra_ligne3col a img {
  border-style : none;
  vertical-align : bottom;
}
#ligne1 {
  height : 1.2em;
  font-weight : bold;
/*  margin-top : 0.5em;*/
  text-align : center;
}
#ligne_fin {
  border-bottom : 2px solid maroon;
}
.ra_ligne3col1 {
  width: 40%;
  float : left;
  padding-left : 10px;
  border-top : 1px solid maroon;
  border-left: 1px solid maroon;
}
.ra_ligne3col2 {
  width: 30%;
  float: left;
  padding-left : 10px;
  border-top : 1px solid maroon;
  border-left: 1px solid maroon;
}
.ra_ligne3col2 a, #ra_ligne3col2_fin a {
  border : 1px groove transparent;
}
.ra_ligne3col2 a:hover, #ra_ligne3col2_fin a:hover {
  border : 1px inset transparent;
  padding : 3px;
}
.ra_ligne3col3 {
  width: 20%;
  height : 100%;
  float : left;
  padding-left : 10px;
  border-top : 1px solid maroon;
  border-left: 1px solid maroon;
  border-right: 1px solid maroon;
}
#ra_ligne3col1_fin {
  width: 40%;
  float : left;
  padding-left : 10px;
  border-top : 1px solid maroon;
  border-left: 1px solid maroon;
  border-bottom: 1px solid maroon;
}
#ra_ligne3col2_fin {
  width: 30%;
  float: left;
  padding-left : 10px;
  border-top : 1px solid maroon;
  border-left: 1px solid maroon;
  border-bottom: 1px solid maroon;
/*  text-align: center; */
}
#ra_ligne3col3_fin {
  width: 20%;
  float : left;
  padding-left : 10px;
  border : 1px solid maroon;
}

/* Styles pour le menu de gestion des RA */
#menu_gestion_ra {
  width : 100%; /*Il faut absolument fixer des tailles sinon gros prob */
  height : 3em;
  position : relative;
/*  border : 2px dotted green; */
}
.menu_droit_bas {
/*  margin-top : 3em; */
  padding-top : 2em;
  margin-left : 2em;
  clear : left;
}
#menu_gestion_ra ul {
  margin : 0;
  padding : 0;
/*  width : 30.1em; */
  width : 100%;
  list-style-type: none;
/*  border : 1px solid #808080;*/
  height : 1.2em;

}
#menu_gestion_ra  ul li {
  float : left;
/*  width : 6em;/*Il faut absolument fixer des tailles sinon gros prob */
  height : 100%;
  border-top : 1px solid #808080;
  background-color : #DDDDEE;
}

#menu_gestion_ra ul li a {
/*  text-align : center; */
  text-decoration :none;
  height : 100%;
/*  width : 6em;*/
  padding-left : 2em;
  padding-right : 2em;
  color : blue;
}

#menu_gestion_ra li#active {
  background-color : #8888BB;
  border-left : 1px solid #808080;
  border-right : 1px solid #808080;
}
#menu_gestion_ra li:hover, #menu_gestion_ra a:hover {
  background-color : #AAAAEE;
}

#menu_gestion_ra li#active a.active, #menu_gestion_ra li#actif a {
  color : purple;
}
#menu_gestion_ra ul ul {
  position : absolute;
  margin : 0;
  padding : 0;
  top : 1.2em;
  left: 0;
  width : 47em;
  height : 1.2em;
}

#menu_gestion_ra ul li li {
  height : 100%;
  float : left;
  background-color : transparent;
}

#menu_gestion_ra ul li li a {
  padding-left : .5em;
  padding-right : .5em;
  height : 100%;
  border-bottom : 1px solid #808080;
}
#menu_gestion_ra li#debut_annee, #menu_gestion_ra li#debut_mois a{
  border-left : 1px solid #808080;
}
#menu_gestion_ra li#fin_annee, #menu_gestion_ra li#fin_mois a{
  border-right : 1px solid #808080;
}
#menu_gestion_ra ul li a:visited {
  color : blue;
}
#menu_gestion_ra li .menu_gestion_ra_mois {
  display: none;
}
#menu_gestion_ra li#active .menu_gestion_ra_mois {
  display: inline;
}
#menu_gestion_ra ul li li#actif a {
  background-color : #CCBBBB;
  border-left : 1px solid #808080;
  border-right : 1px solid #808080;
  border-bottom : 1px solid #CCBBBB;
}
#menu_gestion_ra ul li li.inactif a {
  color: #FCFCFC;
  background-color: #BDBDBD;
  cursor: default;
}
#menu_gestion_ra ul li li.inactif a:hover {
/*  color: #FCFCFC;*/
  background-color: #BDBDBD;
}
/************* Calendrier ****************************************************/
#cal_bm {
  width : 100%;
  height : 2em;
}
#cal_visu {
  float : left;
  width : 65%;
  height : auto;
  font-size : 0.9em;
  position : relative;
/*  overflow : scroll;*/
}
#cal_droite {
  width : 30%;
/*  height : 100%;*/
  height : auto;
  float : left;
}
#cal_mini {
  width : 52%;
  height : 20%;
}
#cal_taches {
  clear : left;
  width : 100%;
  height : 80%;
}
.rdv_heure {
  width : 100%;
  height : 1.2em;
}
/* Suppression de .rdv_heure remaplacer par cal_jour avec la marge négative
pour rdv_heure_col2 pour réaliser le décalage */
#cal_jour {
  width : 100%;
  height : auto;
}
.rdv_existe {
  position : absolute;
  display : none;
  white-space : normal;
  overflow : hidden;
}
#titre_rdv_jour {
  width : 100%;
  height : 30px;
  color : blue;
}
#jour {
  font-weight : bold;
  color : blue;
}
#t11_rdv_jour, #t13_rdv_jour {
  float : left;
  width : 10%;
  text-align : center;
}
#t12_rdv_jour {
  float : left;
  width : 79%;
  text-align : center;
}
.rdv_heure_col1 {
  float : left;
  clear : left;
  width : 10%;
  height : 30px;
  border-top : 1px solid #808080;
  border-left : 1px solid #808080;
  background-color : #F2F2F2;
/*  margin-top : -8.5px;*/
}
.rdv_heure_col2 {
  float : left;
  width : 89%;
  height : 30px;
  position : relative;
  border-top : 1px solid #808080;
  border-left : 1px solid #808080;
  border-right : 1px solid #808080;
  background-color : #F2F2F2;
/*  margin-top : -8.5px;*/
}
.rdv_heure_col1 #heure {
  font-size : 1.7em;
}

.rdv_heure_col1 #mn {
/*  font-size : 1.2em; */
  vertical-align : top;
}


#rdv_heure_col2_vide {
  float : left;
  width : 94%;
  height : 7.5px;
/*  margin-top : -8.5px;*/
  border-top : 1px solid #808080;
  border-left : 1px solid #808080;
  border-right : 1px solid #808080;
  background-color : #F2F2F2;
  white-space : pre;
  margin-left : 5.1%;
}
/*
.decalage_negatif {
  margin-top : -7px;
}
*/
.premiere_heure {
  height : 27px;
}
.derniere_heure {
  border-bottom : 1px solid #808080;
}
.rdv_heure a, #cal_jour a {
  text-decoration: none;
}
.rdv_heure a:link, .rdv_heure a:visited {
  color : black;
}
#cal_jour a:link, #cal_jour a:visited {
  color : black;
}


a.rdv_a_partage {
  display : in-line;
  width : 100%;
  text-decoration: none;
}
/*.rdv_heure_col2 a.rdv_a_partage {
  display : block;
  float : left;
  width : 100%;
}
a.rdv_a_partage {
  width : 100%;
}
a.rdv_a_partage:hover {
  background-color: #BDBDBD;
}
*/
.rdv_heure_col1 a, .rdv_heure_col2 a.rdv_a_vide {
  display : block;
  width : 100%;
  height : 100%;
}
.rdv_heure_col1 a {
  padding-left : 5px;
}
.rdv_heure_col2 a.rdv_a_partage {
  padding-left : 1px;
/*  padding-right : auto;*/
}
.rdv_heure a:hover {
/*  background-color : #AAAAEE; */
  
}
#cal_jour a:hover {
  background-color : #AAAAEE;
/*  padding : 3px; */
}

a.rdv_a_vide {
  white-space: pre;
}
#titre_lig_semaine {
  clear : left;
  margin-left : 2px;
  height : 1.1em;
  width : 100%;
  border-bottom : 1px solid black;
}
.lig_semaine {
  clear : left;
  height : 1.1em;
  width : 100%;
  margin-left : 2px;
}
.lig_semaine a {
  display : block;
  width : 100%;
}
.cel_jour, .cel_jour_inactif, #cel_jour_actif, #cel_aujourdhui {
  float : left;
  width : 18px;
  height : 100%;
  text-align : right;
}
#cel_aujourdhui {
  font-weight : bold;
}
#cel_aujourdhui a:link, #cel_aujourdhui a:visited  {
  color : #FF5B24;
  text-decoration: none;
}
.cel_jour a:link, .cel_jour a:visited {
  color : black;
  text-decoration: none;
}
.cel_jour_inactif a:link, .cel_jour_inactif a:visited {
  color: #FCFCFC;
  text-decoration: none;
}
.cel_jour_inactif {
  background-color: #BDBDBD;
}
.rdv {
  font-weight : bold;
}
#cel_jour_actif {
  font-weight : bold;
}
#cel_jour_actif a:link, #cel_jour_actif a:visited {
  color : blue;
  text-decoration: none;
}
#titre_mini_annee {
  color : #FF5B24;
  font-weight : bold;
  text-align : center;
}
#titre_mini_mois {
  width : 100%;
  height : 1.2em;
}
#t11_mini_mois, #t13_mini_mois {
  float : left;
  width : 10%;
  text-align : center;
}
#t12_mini_mois {
  float : left;
  width : 70%;
  text-align : center;
  color : blue;
}
#t11_mini_mois a img, #t13_mini_mois a img, #t11_rdv_jour a img, #t13_rdv_jour a img {
  border-style : none;
}